@media (max-width: 740px){
    /* header */
    .heading-nav a{
    padding: 0;
    line-height: 36px;
}

    .content-nav{
        display: none;
    }

    .nav-menu{
        display: block;
    }

    .content-slider{
        padding: 0 24px;
    }

    .text-slider{
        margin: 5px 0;
    }

    /* content */
    .about-cateting,
    .our-menu-container{
        flex-wrap: wrap;
        padding: 32px 0;
    }

    .img-about-catering,
    .content-about-catering,
    .our-menu-item,
    .img-our-menu{
        flex-basis: 100%;
    }

    .contact-container{
        padding: 32px 24px;
    }

    .contact-btn{
        width: 100%;
    }
}   
